# Python virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Data files (if you have any large data files you don't want to track)
*.grib
*.grib2